# Dependencies
node_modules

# Build outputs
.next
out

# Development
.env*.local
*.log

# Testing
coverage
.jest

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Documentation
README.md
