{
  "openapi": "3.1.0",
  "info": {
    "title": "Everruns API",
    "description": "API for managing AI agents, sessions, messages, and events",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://app.everruns.com/api",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents - List all active agents",
        "operationId": "list_agents",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or description (case-insensitive substring match).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived agents. Deleted agents never appear in lists.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_WithUrls_ResourceWithCounts_Agent"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents - Create a new agent",
        "operationId": "create_agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Input exceeds allowed limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/analyze": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/analyze - Run advisory checks against an agent shape",
        "description": "Runs built-in rules plus on-demand LLM analysis (specs/agent-checks.md)\nand returns merged advisory findings. Requires the system utility LLM\nservice to be configured.",
        "operationId": "analyze_agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent analysis completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAnalysisResponse"
                }
              }
            }
          },
          "400": {
            "description": "Utility LLM service not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/check-name": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/check-name",
        "description": "Returns whether an agent name is available for use. Optionally excludes\na specific agent ID (for edit forms where the agent's own name is valid).",
        "operationId": "check_agent_name",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The agent name to check.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exclude_id",
            "in": "query",
            "description": "Optional agent ID to exclude (for edit forms where the current agent's own name is valid).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Name availability result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAgentNameResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid exclude_id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/config": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/config",
        "operationId": "agent_config",
        "responses": {
          "200": {
            "description": "Resource config for agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/import": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/import - Import agent from file or built-in example",
        "description": "Two modes:\n1. **From example** — `POST /v1/agents/import?from-example={name}` (body ignored)\n2. **From file** — `POST /v1/agents/import` with a text body in Markdown/YAML/JSON\n\nFile mode accepts:\n- Markdown with YAML front matter (if starts with ---)\n- Pure YAML\n- Pure JSON\n- Plain text (treated as system prompt, name auto-generated)\n\nIf the file contains an `id` field and an agent with that ID already exists,\nthe agent is updated (upsert). Returns 201 on create, 200 on update.",
        "operationId": "import_agent",
        "parameters": [
          {
            "name": "from-example",
            "in": "query",
            "description": "Import from a built-in example by name (e.g. `dad-jokes-agent`).\nWhen set, the request body is ignored.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent updated via import",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "201": {
            "description": "Agent imported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid format or input exceeds limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "High-risk capabilities require admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Example not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/preview": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/preview - Preview the final agent shape with capabilities applied",
        "description": "Returns the merged system prompt and all tools that would be available to the agent.\nThis is useful for previewing what the agent will look like before saving.",
        "operationId": "preview_agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent preview generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentPreviewResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id} - Get agent by ID or name",
        "description": "Accepts either an agent ID (e.g. `agent_01933b5a...`) or a\nname (e.g. `customer-support`). Names are resolved within the caller's org.",
        "operationId": "get_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_ResourceWithCounts_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "agents"
        ],
        "summary": "PUT /v1/agents/{agent_id} - Create or update agent (upsert)",
        "description": "Accepts either an agent ID (e.g. `agent_01933b5a...`) or a\nname (e.g. `customer-support`). If the agent exists, update it; if not,\ncreate it. Returns 201 on create, 200 on update.",
        "operationId": "upsert_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "DELETE /v1/agents/{agent_id} - Archive agent",
        "operationId": "delete_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Agent archived successfully"
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "tags": [
          "agents"
        ],
        "summary": "PATCH /v1/agents/{agent_id} - Update agent",
        "operationId": "update_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID or input exceeds allowed limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/copy": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/{agent_id}/copy - Copy an agent",
        "description": "Creates a new agent with the same configuration as the source agent.\nThe new agent's name will be \"{original name} (copy)\".",
        "operationId": "copy_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Source agent ID to copy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Agent copied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Source agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/export": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/export - Export agent in Markdown format with YAML front matter",
        "operationId": "export_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent exported as Markdown",
            "content": {
              "text/markdown": {}
            }
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/health-checks": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/health-checks - List recent health check runs",
        "operationId": "list_health_checks",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health check runs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HealthCheckRun"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/{agent_id}/health-checks - Trigger a behavioral health check",
        "operationId": "trigger_health_check",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health check run started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckRun"
                }
              }
            }
          },
          "400": {
            "description": "Health checks unavailable on this deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/health-checks/latest": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/health-checks/latest - Latest run + stale flag",
        "operationId": "get_latest_health_check",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest health check run with stale-config flag",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LatestHealthCheckRun"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/health-checks/{run_id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/health-checks/{run_id} - Get a health check run",
        "operationId": "get_health_check",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "run_id",
            "in": "path",
            "description": "Health check run ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Health check run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckRun"
                }
              }
            }
          },
          "404": {
            "description": "Run not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/stats": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/stats - Get aggregate usage stats for an agent",
        "operationId": "get_agent_stats",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent aggregate stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceStatsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/versions": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/versions - List saved agent versions",
        "operationId": "list_agent_versions",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved agent versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AgentVersion"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Agent not found or agent_versions disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/{agent_id}/versions - Save the current agent configuration as a version",
        "operationId": "create_agent_version",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentVersionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent version created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentVersion"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found or agent_versions disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/versions/default": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/{agent_id}/versions/default - Set the default version for an agent",
        "operationId": "set_default_agent_version",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDefaultAgentVersionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Default version updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent or version not found, or agent_versions disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/versions/{from_version_id}/diff/{to_version_id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/versions/{from_version_id}/diff/{to_version_id} - Diff two agent versions",
        "operationId": "diff_agent_versions",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_version_id",
            "in": "path",
            "description": "Base agent version ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/agentverId"
            }
          },
          {
            "name": "to_version_id",
            "in": "path",
            "description": "Comparison agent version ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/agentverId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent version diff",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentVersionDiffResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent or version not found, or agent_versions disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/versions/{version_id}/fork": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/{agent_id}/versions/{version_id}/fork - Create a new agent from a saved version",
        "operationId": "fork_agent_version",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Source agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "description": "Agent version ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/agentverId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkAgentVersionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent fork created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent or version not found, or agent_versions disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/versions/{version_id}/rollback": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/{agent_id}/versions/{version_id}/rollback - Restore an agent from a saved version",
        "operationId": "rollback_agent_version",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "description": "Agent version ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/agentverId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollbackAgentVersionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent rolled back",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent or version not found, or agent_versions disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/voice/sessions": {
      "post": {
        "tags": [
          "voice"
        ],
        "description": "Create a voice session for a specific agent. Returns connection details for the realtime audio channel.",
        "operationId": "create_agent_voice_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoiceCallRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Agent session and realtime call created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceSessionResponse_VoiceCallResponse"
                }
              }
            }
          }
        },
        "x-cost-tier": "paid"
      }
    },
    "/v1/apps": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "GET /v1/apps - List all non-archived apps",
        "operationId": "list_apps",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or description (case-insensitive substring match).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived apps. Deleted apps never appear in lists.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of apps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WithUrls_App"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps - Create a new app",
        "operationId": "create_app",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "App created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_App"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/config": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "GET /v1/apps/config",
        "operationId": "app_config",
        "responses": {
          "200": {
            "description": "Resource config for apps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "GET /v1/apps/{app_id} - Get app by ID",
        "operationId": "get_app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_App"
                }
              }
            }
          },
          "400": {
            "description": "Invalid app ID"
          },
          "404": {
            "description": "App not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "apps"
        ],
        "summary": "DELETE /v1/apps/{app_id} - Archive app",
        "operationId": "delete_app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "App archived successfully"
          },
          "400": {
            "description": "Invalid app ID"
          },
          "404": {
            "description": "App not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "tags": [
          "apps"
        ],
        "summary": "PATCH /v1/apps/{app_id} - Update app",
        "operationId": "update_app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "App updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_App"
                }
              }
            }
          },
          "400": {
            "description": "Invalid app ID or input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/a2a-channels": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/a2a-channels - Add an A2A channel (returns plaintext key once).",
        "operationId": "add_a2a_channel",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddA2aChannelHttpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "A2A channel created. The `api_key` field is the plaintext key returned exactly once and never recoverable later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddA2aChannelOutput"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/a2a-channels/{channel_id}/regenerate-key": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "Regenerate an A2A channel API key. Returns the new plaintext key exactly once and invalidates the previous key.",
        "operationId": "regenerate_a2a_key",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "A2A channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key rotated. The `api_key` field is the new plaintext key returned exactly once; the previous key is invalidated immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegenerateA2aApiKeyOutput"
                }
              }
            }
          },
          "400": {
            "description": "Invalid app/channel ID or channel is not an A2A channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App or A2A channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/a2a/{channel_id}": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/a2a/{channel_id}",
        "operationId": "invoke_a2a",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "A2A channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response. For message/send and tasks/* the body is a single JSON envelope; for message/stream the body is text/event-stream of JSON-RPC envelopes. tasks/get and tasks/cancel surface -32001 Task not found for unknown task ids."
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App or channel not found, not published, or channel disabled (collapsed to a single generic 404 to prevent app-existence enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Per-channel A2A rate limit exceeded, or SSE connection limit reached for the org/session",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/a2a/{channel_id}/.well-known/agent-card.json": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "GET /v1/apps/{app_id}/a2a/{channel_id}/.well-known/agent-card.json",
        "operationId": "agent_card",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "A2A channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent Card JSON"
          },
          "404": {
            "description": "App or channel not found / unpublished / disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/api-endpoint-channels": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/api-endpoint-channels - Add an api_endpoint channel (returns plaintext key once).",
        "operationId": "add_api_endpoint_channel",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddApiEndpointChannelHttpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "api_endpoint channel created. The `api_key` field is the plaintext key returned exactly once and never recoverable later.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddApiEndpointChannelOutput"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/api-endpoint-channels/{channel_id}/regenerate-key": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "Regenerate an api_endpoint channel API key. Returns the new plaintext key exactly once and invalidates the previous key.",
        "operationId": "regenerate_api_endpoint_key",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "api_endpoint channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key rotated. The `api_key` field is the new plaintext key returned exactly once; the previous key is invalidated immediately.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegenerateApiEndpointApiKeyOutput"
                }
              }
            }
          },
          "400": {
            "description": "Invalid app/channel ID or channel is not an api_endpoint channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App or api_endpoint channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/api/{channel_id}/sessions": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/api/{channel_id}/sessions",
        "operationId": "create_session",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "api_endpoint channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Session created and message dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionRef"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "App not published or channel disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App or channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Per-channel rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/api/{channel_id}/sessions/{session_id}": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "GET /v1/apps/{app_id}/api/{channel_id}/sessions/{session_id}",
        "operationId": "get_session",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "api_endpoint channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Derived status and the agent's completed messages (no raw tool detail)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionStatus"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "App not published or channel disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Channel or session not found / not owned by this channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Per-channel rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/api/{channel_id}/sessions/{session_id}/cancel": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/api/{channel_id}/sessions/{session_id}/cancel",
        "operationId": "cancel_session",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "api_endpoint channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "In-flight turn canceled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionRef"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "App not published or channel disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Channel or session not found / not owned by this channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Per-channel rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/api/{channel_id}/sessions/{session_id}/messages": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/api/{channel_id}/sessions/{session_id}/messages",
        "operationId": "post_message",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "api_endpoint channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Follow-up message dispatched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionRef"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "App not published or channel disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Channel or session not found / not owned by this channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Per-channel rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/fcp": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "`GET /v1/apps/{app_id}/fcp` — handshake. Always returns the same\ngeneric 404 body for unknown apps so the endpoint cannot be used to\nprobe which app ids are real.",
        "operationId": "handshake",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown handshake describing the FCP endpoint and how to authenticate. Always `text/markdown`.",
            "content": {
              "text/markdown": {}
            }
          },
          "404": {
            "description": "No FCP endpoint at this URL. Single sanitized body covers unknown apps, unpublished apps, apps without an FCP channel, and disabled FCP channels — operator state is never disclosed.",
            "content": {
              "text/markdown": {}
            }
          },
          "429": {
            "description": "Per-app FCP rate limit exceeded. `Retry-After: 60` header is set.",
            "content": {
              "text/markdown": {}
            }
          }
        }
      },
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "`POST /v1/apps/{app_id}/fcp` — text-in, text-out.",
        "operationId": "message",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Plain UTF-8 text, or `application/json` of shape `{\"message\": \"...\"}`. Maximum 256 KiB.",
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent reply as Markdown. The `Set-Cookie: fcp_session=...` header is emitted so subsequent POSTs can resume the same conversation.",
            "content": {
              "text/markdown": {}
            }
          },
          "400": {
            "description": "Malformed body. Distinct messages for empty body, non-UTF-8 bytes, and JSON that did not parse into the expected shape — each Markdown body points back at the handshake.",
            "content": {
              "text/markdown": {}
            }
          },
          "401": {
            "description": "Token required but missing or wrong. Markdown body explains both accepted headers (`Authorization: Bearer` and `X-Everruns-FCP-Token`) and points at the handshake.",
            "content": {
              "text/markdown": {}
            }
          },
          "404": {
            "description": "Same generic 404 as the handshake — operator state is never disclosed.",
            "content": {
              "text/markdown": {}
            }
          },
          "410": {
            "description": "FCP session expired. Body tells the client to drop the `fcp_session` cookie and POST again.",
            "content": {
              "text/markdown": {}
            }
          },
          "413": {
            "description": "Body exceeds 256 KiB.",
            "content": {
              "text/markdown": {}
            }
          },
          "429": {
            "description": "Per-app FCP rate limit exceeded. `Retry-After: 60` header is set.",
            "content": {
              "text/markdown": {}
            }
          },
          "504": {
            "description": "Agent did not reply within the configured timeout. The same `fcp_session` cookie is set so the client can retry the same conversation.",
            "content": {
              "text/markdown": {}
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/publish": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/publish - Publish app (start accepting requests)",
        "operationId": "publish_app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App published",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_App"
                }
              }
            }
          },
          "400": {
            "description": "Invalid app ID"
          },
          "404": {
            "description": "App not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/apps/{app_id}/runs": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "GET /v1/apps/{app_id}/runs - Recent app invocation runs",
        "operationId": "list_app_runs",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "window",
            "in": "query",
            "description": "Time window to include, such as 24h, 60m, or 7d.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "groupBy",
            "in": "query",
            "description": "Optional grouping. Currently only `hour` is supported.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent app invocation runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppRunListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid app ID or query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/unpublish": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/unpublish - Unpublish app (stop accepting requests)",
        "operationId": "unpublish_app",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App unpublished",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_App"
                }
              }
            }
          },
          "400": {
            "description": "Invalid app ID"
          },
          "404": {
            "description": "App not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/apps/{app_id}/webhooks/{channel_id}": {
      "post": {
        "tags": [
          "apps"
        ],
        "description": "Invoke a webhook channel for a published App. The body is forwarded to the agent as a message.",
        "operationId": "invoke_webhook",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "Webhook channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Webhook accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInvocationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing webhook token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App or channel not found, not published, or channel disabled (collapsed to a single generic 404 to prevent app-existence enumeration)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities - List available capabilities with pagination",
        "operationId": "list_capabilities",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by name/description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_WithUrls_CapabilityInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "capabilities"
        ],
        "summary": "POST /v1/capabilities - Create a persisted declarative capability.",
        "operationId": "create_declarative_capability",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeclarativeCapabilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Declarative capability created. Response id uses cap_<32-hex>; capability_id uses declarative:<unique_name>.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_DeclarativeCapability"
                }
              }
            }
          },
          "400": {
            "description": "Invalid declarative capability definition, name, limits, file mount, skill, or MCP server configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "A declarative capability with the same unique name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/declarative": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities/declarative - List persisted declarative resources.",
        "operationId": "list_declarative_capabilities",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by unique name, display name, or description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived declarative capabilities",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Persisted declarative capability resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WithUrls_DeclarativeCapability"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/declarative/config": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities/declarative/config",
        "operationId": "declarative_capabilities_config",
        "responses": {
          "200": {
            "description": "Resource config for declarative capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/declarative/{capability_id}": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities/declarative/{capability_id} - Get a declarative resource.",
        "operationId": "get_declarative_capability",
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "description": "Public declarative capability resource ID, e.g. cap_01933b5a000070008000000000000001",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Declarative capability resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_DeclarativeCapability"
                }
              }
            }
          },
          "404": {
            "description": "Declarative capability not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "capabilities"
        ],
        "summary": "DELETE /v1/capabilities/declarative/{capability_id} - Archive a declarative resource.",
        "operationId": "delete_declarative_capability",
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "description": "Public declarative capability resource ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Declarative capability archived"
          },
          "404": {
            "description": "Declarative capability not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "capabilities"
        ],
        "summary": "PATCH /v1/capabilities/declarative/{capability_id} - Update a declarative resource.",
        "operationId": "update_declarative_capability",
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "description": "Public declarative capability resource ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeclarativeCapabilityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Declarative capability updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_DeclarativeCapability"
                }
              }
            }
          },
          "400": {
            "description": "Invalid update payload or declarative capability definition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "A declarative capability with the same unique name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/declarative/{capability_id}/delete": {
      "post": {
        "tags": [
          "capabilities"
        ],
        "summary": "POST /v1/capabilities/declarative/{capability_id}/delete - Permanently delete archived resource.",
        "operationId": "destroy_declarative_capability",
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "description": "Public declarative capability resource ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Archived declarative capability permanently deleted"
          },
          "404": {
            "description": "Declarative capability not found or not archived",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/guardrails/dry-run": {
      "post": {
        "tags": [
          "capabilities"
        ],
        "summary": "POST /v1/capabilities/guardrails/dry-run - Evaluate guardrail checks against sample text.",
        "operationId": "dry_run_guardrails",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuardrailsDryRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Triggered checks for the sample content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuardrailsDryRunResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid guardrails config, stage, or oversized text",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/guardrails/examples": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities/guardrails/examples - List adoptable guardrail presets.",
        "operationId": "list_guardrail_examples",
        "responses": {
          "200": {
            "description": "Adoptable guardrail presets with trust metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GuardrailExamplesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/{capability_id}": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities/{capability_id} - Get a specific capability",
        "operationId": "get_capability",
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "description": "Capability ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Capability found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_CapabilityInfo"
                }
              }
            }
          },
          "404": {
            "description": "Capability not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/circuit-breakers": {
      "get": {
        "tags": [
          "durable"
        ],
        "summary": "GET /v1/durable/circuit-breakers - List circuit breakers",
        "operationId": "list_circuit_breakers",
        "responses": {
          "200": {
            "description": "List of circuit breakers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitBreakersListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/circuit-breakers/{key}": {
      "get": {
        "tags": [
          "durable"
        ],
        "summary": "GET /v1/durable/circuit-breakers/:key - Get a single circuit breaker",
        "operationId": "get_circuit_breaker",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Circuit breaker key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit breaker details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CircuitBreakerResponse"
                }
              }
            }
          },
          "404": {
            "description": "Circuit breaker not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "durable"
        ],
        "summary": "DELETE /v1/durable/circuit-breakers/:key - Delete/reset a circuit breaker",
        "operationId": "delete_circuit_breaker",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Circuit breaker key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit breaker deleted"
          },
          "404": {
            "description": "Circuit breaker not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/circuit-breakers/{key}/close": {
      "post": {
        "tags": [
          "durable"
        ],
        "summary": "POST /v1/durable/circuit-breakers/:key/close - Force close a circuit breaker",
        "operationId": "force_close_circuit_breaker",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Circuit breaker key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit breaker closed"
          },
          "404": {
            "description": "Circuit breaker not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/circuit-breakers/{key}/open": {
      "post": {
        "tags": [
          "durable"
        ],
        "summary": "POST /v1/durable/circuit-breakers/:key/open - Force open a circuit breaker",
        "operationId": "force_open_circuit_breaker",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "Circuit breaker key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Circuit breaker opened"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/config": {
      "get": {
        "tags": [
          "durable"
        ],
        "summary": "GET /v1/durable/config - Durable policy results for UI gating.",
        "operationId": "durable_config",
        "responses": {
          "200": {
            "description": "Resource config for durable surfaces",
[...]
