{
  "openapi": "3.1.0",
  "info": {
    "title": "Everruns API",
    "description": "API for managing AI agents, sessions, messages, and events",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://app.everruns.com/api",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents - List all active agents",
        "operationId": "list_agents",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or description (case-insensitive substring match).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived agents. Deleted agents never appear in lists.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default 0).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return (default 20, max 100).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_WithUrls_ResourceWithCounts_Agent"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents - Create a new agent",
        "operationId": "create_agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Input exceeds allowed limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/import": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/import - Import agent from file or built-in example",
        "description": "Two modes:\n1. **From example** — `POST /v1/agents/import?from-example={name}` (body ignored)\n2. **From file** — `POST /v1/agents/import` with a text body in Markdown/YAML/JSON\n\nFile mode accepts:\n- Markdown with YAML front matter (if starts with ---)\n- Pure YAML\n- Pure JSON\n- Plain text (treated as system prompt, name auto-generated)\n\nIf the file contains an `id` field and an agent with that ID already exists,\nthe agent is updated (upsert). Returns 201 on create, 200 on update.",
        "operationId": "import_agent",
        "parameters": [
          {
            "name": "from-example",
            "in": "query",
            "description": "Import from a built-in example by name (e.g. `dad-jokes-agent`).\nWhen set, the request body is ignored.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent updated via import",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "201": {
            "description": "Agent imported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid format or input exceeds limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "High-risk capabilities require admin role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Example not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/preview": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/preview - Preview the final agent shape with capabilities applied",
        "description": "Returns the merged system prompt and all tools that would be available to the agent.\nThis is useful for previewing what the agent will look like before saving.",
        "operationId": "preview_agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent preview generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentPreviewResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id} - Get agent by ID or name",
        "description": "Accepts either an agent ID (e.g. `agent_01933b5a...`) or a\nname (e.g. `customer-support`). Names are resolved within the caller's org.",
        "operationId": "get_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_ResourceWithCounts_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "agents"
        ],
        "summary": "PUT /v1/agents/{agent_id} - Create or update agent (upsert)",
        "description": "Accepts either an agent ID (e.g. `agent_01933b5a...`) or a\nname (e.g. `customer-support`). If the agent exists, update it; if not,\ncreate it. Returns 201 on create, 200 on update.",
        "operationId": "upsert_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "DELETE /v1/agents/{agent_id} - Archive agent",
        "operationId": "delete_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Agent archived successfully"
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "tags": [
          "agents"
        ],
        "summary": "PATCH /v1/agents/{agent_id} - Update agent",
        "operationId": "update_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID or input exceeds allowed limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/copy": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/{agent_id}/copy - Copy an agent",
        "description": "Creates a new agent with the same configuration as the source agent.\nThe new agent's name will be \"{original name} (copy)\".",
        "operationId": "copy_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Source agent ID to copy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Agent copied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Source agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/export": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/export - Export agent in Markdown format with YAML front matter",
        "operationId": "export_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent exported as Markdown",
            "content": {
              "text/markdown": {}
            }
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/agents/{agent_id}/stats": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/stats - Get aggregate usage stats for an agent",
        "operationId": "get_agent_stats",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent aggregate stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceStatsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/a2a/{channel_id}": {
      "post": {
        "tags": [
          "apps"
        ],
        "summary": "POST /v1/apps/{app_id}/a2a/{channel_id}",
        "operationId": "invoke_a2a",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "A2A channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response (success or A2A error envelope)"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "App is not published or channel disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App or channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/a2a/{channel_id}/.well-known/agent-card.json": {
      "get": {
        "tags": [
          "apps"
        ],
        "summary": "GET /v1/apps/{app_id}/a2a/{channel_id}/.well-known/agent-card.json",
        "operationId": "agent_card",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "A2A channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent Card JSON"
          },
          "404": {
            "description": "App or channel not found / unpublished / disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/webhooks/{channel_id}": {
      "post": {
        "tags": [
          "apps"
        ],
        "operationId": "invoke_webhook",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "App ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel_id",
            "in": "path",
            "description": "Webhook channel ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Webhook accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInvocationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing webhook token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "App is not published or channel disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "App or channel not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities - List available capabilities with pagination",
        "operationId": "list_capabilities",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by name/description",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (default: 0)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_WithUrls_CapabilityInfo"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/{capability_id}": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities/{capability_id} - Get a specific capability",
        "operationId": "get_capability",
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "description": "Capability ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Capability found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_CapabilityInfo"
                }
              }
            }
          },
          "404": {
            "description": "Capability not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/config": {
      "get": {
        "tags": [
          "durable"
        ],
        "summary": "GET /v1/durable/config - Durable policy results for UI gating.",
        "operationId": "durable_config",
        "responses": {
          "200": {
            "description": "Resource config for durable surfaces",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/executions/{execution_id}": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/executions/:execution_id - Get execution details",
        "operationId": "get_execution",
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "description": "Execution ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleExecutionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Execution not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/schedules - List schedules",
        "operationId": "list_schedules",
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "description": "Filter by enabled status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "description": "Filter by target type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulesListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "POST /v1/durable/schedules - Create a new schedule",
        "operationId": "create_schedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Schedule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "409": {
            "description": "Schedule name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/schedules/:schedule_id - Get schedule details",
        "operationId": "get_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "DELETE /v1/durable/schedules/:schedule_id - Delete schedule",
        "operationId": "delete_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Schedule deleted"
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "PATCH /v1/durable/schedules/:schedule_id - Update schedule",
        "operationId": "update_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Schedule updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/executions": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/schedules/:schedule_id/executions - List schedule executions",
        "operationId": "list_schedule_executions",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of executions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleExecutionsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/pause": {
      "post": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "POST /v1/durable/schedules/:schedule_id/pause - Pause schedule",
        "operationId": "pause_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule paused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/resume": {
      "post": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "POST /v1/durable/schedules/:schedule_id/resume - Resume schedule",
        "operationId": "resume_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/stats": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/schedules/:schedule_id/stats - Get schedule statistics",
        "operationId": "get_schedule_stats",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleStatsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/trigger": {
      "post": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "POST /v1/durable/schedules/:schedule_id/trigger - Manually trigger schedule",
        "operationId": "trigger_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/harness-examples": {
      "get": {
        "tags": [
          "harness-examples"
        ],
        "summary": "GET /v1/harness-examples — list all available harness examples.",
        "operationId": "list_examples",
        "responses": {
          "200": {
            "description": "List of harness examples",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HarnessExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/harnesses": {
      "get": {
        "tags": [
          "harnesses"
        ],
        "summary": "GET /v1/harnesses",
        "operationId": "list_harnesses",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or description (case-insensitive substring match).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived harnesses. Deleted harnesses never appear in lists.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of harnesses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WithUrls_ResourceWithCounts_Harness"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "harnesses"
        ],
        "summary": "POST /v1/harnesses",
        "operationId": "create_harness",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHarnessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Harness created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Harness"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/harnesses/config": {
      "get": {
        "tags": [
          "harnesses"
        ],
        "summary": "GET /v1/harnesses/config",
        "description": "Returns which harness policies the caller satisfies.\nUI uses this to show/hide controls (e.g. delete button).",
        "operationId": "harness_config",
        "responses": {
          "200": {
            "description": "Resource config for harnesses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/harnesses/import": {
      "post": {
        "tags": [
          "harnesses"
        ],
        "summary": "POST /v1/harnesses/import - Adopt a harness example as a regular org-owned harness.",
        "description": "Creates a normal harness (`is_built_in = false`) from a code-defined\nexample. The new harness inherits from the org's `generic` harness by\nname — no UUIDs are hardcoded. Capabilities and other config flow through\nthe same validation paths as `POST /v1/harnesses`.\n\nReturns 201 on creation. If the example name collides with an existing\nharness in the org, a random alphanumeric suffix is appended (parity with\nagent example import).",
        "operationId": "import_harness",
        "parameters": [
          {
            "name": "from-example",
            "in": "query",
            "description": "Import from a built-in harness example by name (e.g. `data-analyst`).\nRequired: the only currently supported import mode is from-example.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Harness adopted from example",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Harness"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or missing capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Example not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/harnesses/preview": {
      "post": {
        "tags": [
          "harnesses"
        ],
        "summary": "POST /v1/harnesses/preview",
        "operationId": "preview_harness",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewHarnessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Harness preview generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HarnessPreviewResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/harnesses/{harness_id}": {
      "get": {
        "tags": [
          "harnesses"
        ],
        "summary": "GET /v1/harnesses/{harness_id}",
        "description": "Accepts either a harness ID (e.g. `harness_01933b5a...`) or a\nname (e.g. `generic`). The virtual name `default` resolves to the org's\nconfigured default harness. Names are resolved within the caller's org.",
        "operationId": "get_harness",
        "parameters": [
          {
            "name": "harness_id",
            "in": "path",
            "description": "Harness ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Harness found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_ResourceWithCounts_Harness"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Harness not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "harnesses"
        ],
        "summary": "DELETE /v1/harnesses/{harness_id}",
        "operationId": "delete_harness",
        "parameters": [
          {
            "name": "harness_id",
            "in": "path",
            "description": "Harness ID (prefixed)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Harness archived"
          },
          "400": {
            "description": "Invalid harness ID"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Harness not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "tags": [
          "harnesses"
        ],
        "summary": "PATCH /v1/harnesses/{harness_id}",
        "operationId": "update_harness",
        "parameters": [
          {
            "name": "harness_id",
            "in": "path",
            "description": "Harness ID (prefixed)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHarnessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Harness updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Harness"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Harness not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/harnesses/{harness_id}/copy": {
      "post": {
        "tags": [
          "harnesses"
        ],
        "summary": "POST /v1/harnesses/{harness_id}/copy - Copy a harness",
        "description": "Creates a new harness with the same configuration as the source harness.\nThe new harness's name will be \"{original name} (copy)\".",
        "operationId": "copy_harness",
        "parameters": [
          {
            "name": "harness_id",
            "in": "path",
            "description": "Source harness ID to copy",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Harness copied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_Harness"
                }
              }
            }
          },
          "400": {
            "description": "Invalid harness ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Source harness not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/harnesses/{harness_id}/stats": {
      "get": {
        "tags": [
          "harnesses"
        ],
        "summary": "GET /v1/harnesses/{harness_id}/stats - Get aggregate usage stats for a harness",
        "operationId": "get_harness_stats",
        "parameters": [
          {
            "name": "harness_id",
            "in": "path",
            "description": "Harness ID (prefixed) or name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Harness aggregate stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceStatsResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Harness not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/images": {
      "get": {
        "tags": [
          "images"
        ],
        "summary": "GET /v1/images - List images",
        "operationId": "list_images",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max items to return (default 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Items to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ImageInfo"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "images"
        ],
        "summary": "POST /v1/images - Upload an image",
        "operationId": "upload_image",
        "parameters": [
          {
            "name": "session_id",
            "in": "query",
            "description": "Optional: session ID stored as metadata for tracking (not required for upload)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Multipart form data with 'file' field",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Image uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (bad format, size exceeded, etc.)"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/images/{image_id}": {
      "get": {
        "tags": [
          "images"
        ],
        "summary": "GET /v1/images/{image_id} - Get image (returns binary data)",
        "operationId": "get_image",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "Image ID (prefixed, e.g., img_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image binary data",
            "content": {
              "image/*": {}
            }
          },
          "400": {
            "description": "Invalid image ID"
          },
          "404": {
            "description": "Image not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "images"
        ],
        "summary": "DELETE /v1/images/{image_id} - Delete an image",
        "operationId": "delete_image",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "Image ID (prefixed, e.g., img_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Image deleted"
          },
          "400": {
            "description": "Invalid image ID"
          },
          "404": {
            "description": "Image not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/images/{image_id}/thumbnail": {
      "get": {
        "tags": [
          "images"
        ],
        "summary": "GET /v1/images/{image_id}/thumbnail - Get image thumbnail",
        "operationId": "get_thumbnail",
        "parameters": [
          {
            "name": "image_id",
            "in": "path",
            "description": "Image ID (prefixed, e.g., img_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Thumbnail binary data",
            "content": {
              "image/jpeg": {}
            }
          },
          "400": {
            "description": "Invalid image ID"
          },
          "404": {
            "description": "Image not found or no thumbnail"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/knowledge-bases": {
      "get": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "list_kbs",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List knowledge bases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_KnowledgeBaseResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "create_kb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeBaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Knowledge base created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Duplicate knowledge base name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/knowledge-bases/{kb_id}": {
      "get": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "get_kb",
        "parameters": [
          {
            "name": "kb_id",
            "in": "path",
            "description": "Knowledge base ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Knowledge base found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseResponse"
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "delete_kb",
        "parameters": [
          {
            "name": "kb_id",
            "in": "path",
            "description": "Knowledge base ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Knowledge base archived"
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "update_kb",
        "parameters": [
          {
            "name": "kb_id",
            "in": "path",
            "description": "Knowledge base ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeBaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Knowledge base updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Duplicate knowledge base name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/knowledge-bases/{kb_id}/entries": {
      "get": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "list_entries",
        "parameters": [
          {
            "name": "kb_id",
            "in": "path",
            "description": "Knowledge base ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_KnowledgeEntryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "create_entry",
        "parameters": [
          {
            "name": "kb_id",
            "in": "path",
            "description": "Knowledge base ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKnowledgeEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Entry created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Knowledge base not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/knowledge-bases/{kb_id}/entries/{entry_id}": {
      "get": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "get_entry",
        "parameters": [
          {
            "name": "kb_id",
            "in": "path",
            "description": "Knowledge base ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "Entry ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entry found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEntryResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "delete_entry",
        "parameters": [
          {
            "name": "kb_id",
            "in": "path",
            "description": "Knowledge base ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "Entry ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Entry deleted"
          },
          "404": {
            "description": "Entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "knowledge_bases"
        ],
        "operationId": "update_entry",
        "parameters": [
          {
            "name": "kb_id",
            "in": "path",
            "description": "Knowledge base ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "Entry ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entry updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/llm-models": {
      "get": {
        "tags": [
          "llm-models"
        ],
        "summary": "List all models across all providers",
        "operationId": "list_all_models",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "Filter by model source (manual, discovered, predefined)",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/LlmModelSource"
                }
              ]
            }
          },
          {
            "name": "include_stale",
            "in": "query",
            "description": "Include models that are stale (not seen in recent sync). Default: true",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "favorites_only",
            "in": "query",
            "description": "Only return favorite models. Default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WithUrls_LlmModelWithProvider"
                }
              }
            }
          }
        }
      }
    },
    "/v1/llm-models/{id}": {
      "get": {
        "tags": [
          "llm-models"
        ],
        "summary": "Get a specific model with provider info and profile",
        "operationId": "get_model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID (prefixed, e.g., mod_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_LlmModelWithProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid model ID"
          },
          "404": {
            "description": "Model not found"
          }
        }
      },
      "delete": {
        "tags": [
          "llm-models"
        ],
        "summary": "Delete a model",
        "operationId": "delete_model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID (prefixed, e.g., mod_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Model deleted"
          },
          "400": {
            "description": "Invalid model ID"
          },
          "404": {
            "description": "Model not found"
          }
        }
      },
      "patch": {
        "tags": [
          "llm-models"
        ],
        "summary": "Update a model",
        "operationId": "update_model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID (prefixed, e.g., mod_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLlmModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_LlmModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid model ID"
          },
          "404": {
            "description": "Model not found"
          }
        }
      }
    },
    "/v1/llm-providers": {
      "get": {
        "tags": [
          "llm-providers"
        ],
        "summary": "List all LLM providers",
        "operationId": "list_providers",
        "responses": {
          "200": {
            "description": "List of providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WithUrls_LlmProvider"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Create a new LLM provider",
        "operationId": "create_provider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLlmProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Provider created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_LlmProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    },
    "/v1/llm-providers/{id}": {
      "get": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Get a specific LLM provider",
        "operationId": "get_provider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_LlmProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "404": {
            "description": "Provider not found"
          }
        }
      },
      "delete": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Delete an LLM provider",
        "operationId": "delete_provider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Provider deleted"
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "404": {
            "description": "Provider not found"
          }
        }
      },
      "patch": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Update an LLM provider",
        "operationId": "update_provider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLlmProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Provider updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_LlmProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "404": {
            "description": "Provider not found"
          }
        }
      }
    },
    "/v1/llm-providers/{id}/sync-models": {
      "post": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Sync models from an LLM provider",
        "description": "Fetches the list of available models from the provider's API and updates\nthe database. Only works for providers with standard base URLs (not custom).",
        "operationId": "sync_models",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Models synced",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncModelsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "404": {
            "description": "Provider not found"
          },
          "500": {
            "description": "Sync failed"
          }
        }
      }
    },
    "/v1/llm-providers/{provider_id}/models": {
      "get": {
        "tags": [
          "llm-models"
        ],
        "summary": "List models for a specific provider",
        "operationId": "list_provider_models",
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WithUrls_LlmModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          }
        }
      },
      "post": {
        "tags": [
          "llm-models"
        ],
        "summary": "Create a new model for a provider",
        "operationId": "create_model",
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLlmModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Model created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_LlmModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "404": {
            "description": "Provider not found"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    },
    "/v1/mcp-servers": {
      "get": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "GET /v1/mcp-servers - List all MCP servers",
        "operationId": "list_mcp_servers",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or description (case-insensitive substring match).",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "description": "Include archived MCP servers. Deleted MCP servers never appear in lists.",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of MCP servers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_WithUrls_McpServer"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "POST /v1/mcp-servers - Create a new MCP server",
        "operationId": "create_mcp_server",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMcpServerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "MCP server created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_McpServer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or duplicate name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp-servers/{server_id}": {
      "get": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "GET /v1/mcp-servers/{server_id} - Get MCP server by ID",
        "operationId": "get_mcp_server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "MCP server ID (prefixed, e.g., mcp_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP server found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_McpServer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid server ID"
          },
          "404": {
            "description": "MCP server not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "DELETE /v1/mcp-servers/{server_id} - Delete MCP server",
        "operationId": "delete_mcp_server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "MCP server ID (prefixed, e.g., mcp_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "MCP server deleted successfully"
          },
          "400": {
            "description": "Invalid server ID"
          },
          "404": {
            "description": "MCP server not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "PATCH /v1/mcp-servers/{server_id} - Update MCP server",
        "operationId": "update_mcp_server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "MCP server ID (prefixed, e.g., mcp_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMcpServerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "MCP server updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithUrls_McpServer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid server ID or input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "MCP server not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/memory-stores": {
      "get": {
        "tags": [
          "memory_stores"
        ],
        "operationId": "list_memory_stores",
        "responses": {
          "200": {
            "description": "List org memory stores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_MemoryStoreResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "memory_stores"
        ],
        "operationId": "create_memory_store",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
[...]
