{
  "openapi": "3.1.0",
  "info": {
    "title": "Everruns API",
    "description": "API for managing AI agents, sessions, messages, and events",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://app.everruns.com/api",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v1/agents": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents - List all active agents",
        "operationId": "list_agents",
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Agent"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents - Create a new agent",
        "operationId": "create_agent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Input exceeds allowed limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/import": {
      "post": {
        "tags": [
          "agents"
        ],
        "summary": "POST /v1/agents/import - Import agent from Markdown, YAML, or JSON",
        "description": "Accepts agent definition in multiple formats:\n- Markdown with YAML front matter (if starts with ---)\n- Pure YAML\n- Pure JSON\n- Plain text (treated as system prompt, name auto-generated)",
        "operationId": "import_agent",
        "requestBody": {
          "content": {
            "text/plain": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Agent imported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid format or input exceeds limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id} - Get agent by ID",
        "operationId": "get_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "agents"
        ],
        "summary": "DELETE /v1/agents/{agent_id} - Archive agent",
        "operationId": "delete_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Agent archived successfully"
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "tags": [
          "agents"
        ],
        "summary": "PATCH /v1/agents/{agent_id} - Update agent",
        "operationId": "update_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID or input exceeds allowed limits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/export": {
      "get": {
        "tags": [
          "agents"
        ],
        "summary": "GET /v1/agents/{agent_id}/export - Export agent in Markdown format with YAML front matter",
        "operationId": "export_agent",
        "parameters": [
          {
            "name": "agent_id",
            "in": "path",
            "description": "Agent ID (prefixed, e.g., agt_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent exported as Markdown",
            "content": {
              "text/markdown": {}
            }
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "404": {
            "description": "Agent not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/capabilities": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities - List all available capabilities",
        "operationId": "list_capabilities",
        "responses": {
          "200": {
            "description": "List of available capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_CapabilityInfo"
                }
              }
            }
          }
        }
      }
    },
    "/v1/capabilities/{capability_id}": {
      "get": {
        "tags": [
          "capabilities"
        ],
        "summary": "GET /v1/capabilities/{capability_id} - Get a specific capability",
        "operationId": "get_capability",
        "parameters": [
          {
            "name": "capability_id",
            "in": "path",
            "description": "Capability ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Capability found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilityInfo"
                }
              }
            }
          },
          "404": {
            "description": "Capability not found"
          }
        }
      }
    },
    "/v1/durable/executions/{execution_id}": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/executions/:execution_id - Get execution details",
        "operationId": "get_execution",
        "parameters": [
          {
            "name": "execution_id",
            "in": "path",
            "description": "Execution ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Execution details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleExecutionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Execution not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/schedules - List schedules",
        "operationId": "list_schedules",
        "parameters": [
          {
            "name": "enabled",
            "in": "query",
            "description": "Filter by enabled status",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "target_type",
            "in": "query",
            "description": "Filter by target type",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of schedules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchedulesListResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "POST /v1/durable/schedules - Create a new schedule",
        "operationId": "create_schedule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Schedule created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Schedule name already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/schedules/:schedule_id - Get schedule details",
        "operationId": "get_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "DELETE /v1/durable/schedules/:schedule_id - Delete schedule",
        "operationId": "delete_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Schedule deleted"
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "PATCH /v1/durable/schedules/:schedule_id - Update schedule",
        "operationId": "update_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScheduleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Schedule updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/executions": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/schedules/:schedule_id/executions - List schedule executions",
        "operationId": "list_schedule_executions",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of executions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleExecutionsListResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/pause": {
      "post": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "POST /v1/durable/schedules/:schedule_id/pause - Pause schedule",
        "operationId": "pause_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule paused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/resume": {
      "post": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "POST /v1/durable/schedules/:schedule_id/resume - Resume schedule",
        "operationId": "resume_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule resumed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/stats": {
      "get": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "GET /v1/durable/schedules/:schedule_id/stats - Get schedule statistics",
        "operationId": "get_schedule_stats",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduleStatsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/durable/schedules/{schedule_id}/trigger": {
      "post": {
        "tags": [
          "durable-schedules"
        ],
        "summary": "POST /v1/durable/schedules/:schedule_id/trigger - Manually trigger schedule",
        "operationId": "trigger_schedule",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "path",
            "description": "Schedule ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schedule triggered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TriggerResponse"
                }
              }
            }
          },
          "404": {
            "description": "Schedule not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/llm-models": {
      "get": {
        "tags": [
          "llm-models"
        ],
        "summary": "List all models across all providers",
        "operationId": "list_all_models",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "Filter by model source (manual, discovered, predefined)",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/LlmModelSource"
                }
              ]
            }
          },
          {
            "name": "include_stale",
            "in": "query",
            "description": "Include models that are stale (not seen in recent sync). Default: true",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "favorites_only",
            "in": "query",
            "description": "Only return favorite models. Default: false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of all models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_LlmModelWithProvider"
                }
              }
            }
          }
        }
      }
    },
    "/v1/llm-models/{id}": {
      "get": {
        "tags": [
          "llm-models"
        ],
        "summary": "Get a specific model with provider info and profile",
        "operationId": "get_model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID (prefixed, e.g., mod_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmModelWithProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid model ID"
          },
          "404": {
            "description": "Model not found"
          }
        }
      },
      "delete": {
        "tags": [
          "llm-models"
        ],
        "summary": "Delete a model",
        "operationId": "delete_model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID (prefixed, e.g., mod_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Model deleted"
          },
          "400": {
            "description": "Invalid model ID"
          },
          "404": {
            "description": "Model not found"
          }
        }
      },
      "patch": {
        "tags": [
          "llm-models"
        ],
        "summary": "Update a model",
        "operationId": "update_model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Model ID (prefixed, e.g., mod_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLlmModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Model updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid model ID"
          },
          "404": {
            "description": "Model not found"
          }
        }
      }
    },
    "/v1/llm-providers": {
      "get": {
        "tags": [
          "llm-providers"
        ],
        "summary": "List all LLM providers",
        "operationId": "list_providers",
        "responses": {
          "200": {
            "description": "List of providers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_LlmProvider"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Create a new LLM provider",
        "operationId": "create_provider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLlmProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Provider created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    },
    "/v1/llm-providers/{id}": {
      "get": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Get a specific LLM provider",
        "operationId": "get_provider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "404": {
            "description": "Provider not found"
          }
        }
      },
      "delete": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Delete an LLM provider",
        "operationId": "delete_provider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Provider deleted"
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "404": {
            "description": "Provider not found"
          }
        }
      },
      "patch": {
        "tags": [
          "llm-providers"
        ],
        "summary": "Update an LLM provider",
        "operationId": "update_provider",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLlmProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Provider updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmProvider"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "404": {
            "description": "Provider not found"
          }
        }
      }
    },
    "/v1/llm-providers/{provider_id}/models": {
      "get": {
        "tags": [
          "llm-models"
        ],
        "summary": "List models for a specific provider",
        "operationId": "list_provider_models",
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_LlmModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          }
        }
      },
      "post": {
        "tags": [
          "llm-models"
        ],
        "summary": "Create a new model for a provider",
        "operationId": "create_model",
        "parameters": [
          {
            "name": "provider_id",
            "in": "path",
            "description": "Provider ID (prefixed, e.g., prov_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLlmModelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Model created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LlmModel"
                }
              }
            }
          },
          "400": {
            "description": "Invalid provider ID"
          },
          "500": {
            "description": "Internal error"
          }
        }
      }
    },
    "/v1/mcp-servers": {
      "get": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "GET /v1/mcp-servers - List all MCP servers",
        "operationId": "list_mcp_servers",
        "responses": {
          "200": {
            "description": "List of MCP servers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_McpServer"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "POST /v1/mcp-servers - Create a new MCP server",
        "operationId": "create_mcp_server",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMcpServerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "MCP server created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or duplicate name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mcp-servers/{server_id}": {
      "get": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "GET /v1/mcp-servers/{server_id} - Get MCP server by ID",
        "operationId": "get_mcp_server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "MCP server ID (prefixed, e.g., mcp_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MCP server found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid server ID"
          },
          "404": {
            "description": "MCP server not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "DELETE /v1/mcp-servers/{server_id} - Delete MCP server",
        "operationId": "delete_mcp_server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "MCP server ID (prefixed, e.g., mcp_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "MCP server deleted successfully"
          },
          "400": {
            "description": "Invalid server ID"
          },
          "404": {
            "description": "MCP server not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "tags": [
          "mcp-servers"
        ],
        "summary": "PATCH /v1/mcp-servers/{server_id} - Update MCP server",
        "operationId": "update_mcp_server",
        "parameters": [
          {
            "name": "server_id",
            "in": "path",
            "description": "MCP server ID (prefixed, e.g., mcp_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMcpServerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "MCP server updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpServer"
                }
              }
            }
          },
          "400": {
            "description": "Invalid server ID or input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "MCP server not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions": {
      "get": {
        "tags": [
          "sessions"
        ],
        "summary": "GET /v1/sessions - List sessions in organization",
        "operationId": "list_sessions",
        "parameters": [
          {
            "name": "agent_id",
            "in": "query",
            "description": "Filter sessions by agent ID.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            },
            "example": "agent_01933b5a00007000800000000000001"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip (for pagination).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of items to return (for pagination).",
            "required": false,
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "format": "int32",
              "default": 20,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of sessions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponse_Session"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "sessions"
        ],
        "summary": "POST /v1/sessions - Create a new session",
        "operationId": "create_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Invalid agent ID"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}": {
      "get": {
        "tags": [
          "sessions"
        ],
        "summary": "GET /v1/sessions/{session_id} - Get session",
        "operationId": "get_session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., session_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "sessions"
        ],
        "summary": "DELETE /v1/sessions/{session_id} - Delete session",
        "operationId": "delete_session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., session_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session deleted successfully"
          },
          "400": {
            "description": "Invalid session ID"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "patch": {
        "tags": [
          "sessions"
        ],
        "summary": "PATCH /v1/sessions/{session_id} - Update session",
        "operationId": "update_session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., session_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Session updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/cancel": {
      "post": {
        "tags": [
          "sessions"
        ],
        "summary": "POST /v1/sessions/{session_id}/cancel - Cancel current turn",
        "description": "Cancels the currently running turn in the session. If no turn is running,\nthis is a no-op and returns success (idempotent). When a turn is active:\n1. Cancel the underlying workflow execution\n2. Emit a turn.cancelled event\n3. Insert an agent message indicating the turn was cancelled\n4. Set the session status back to idle",
        "operationId": "cancel_turn",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., session_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Turn cancelled successfully (or no-op if idle)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelTurnResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/events": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "GET /v1/sessions/{session_id}/events - List events (JSON)",
        "operationId": "list_events",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "description": "Filter events with ID greater than this event ID (prefixed format: event_{32-hex})",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/TypedId"
                }
              ]
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Event types to exclude from the response (can be specified multiple times).\nCommon delta events to exclude: output.message.delta, reason.thinking.delta",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Events list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Event"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/fs": {
      "get": {
        "tags": [
          "filesystem"
        ],
        "summary": "GET /fs - Get root directory listing",
        "operationId": "get_root",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "description": "List recursively",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Directory listing"
          },
          "400": {
            "description": "Invalid session ID"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/fs/_/copy": {
      "post": {
        "tags": [
          "filesystem"
        ],
        "summary": "POST /fs/_/copy - Copy file",
        "operationId": "copy_file",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Copied successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionFile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID or cannot copy directories"
          },
          "404": {
            "description": "Source not found"
          },
          "409": {
            "description": "Destination exists"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/fs/_/grep": {
      "post": {
        "tags": [
          "filesystem"
        ],
        "summary": "POST /fs/_/grep - Search files",
        "operationId": "grep_files",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GrepRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_GrepResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID or regex pattern"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/fs/_/move": {
      "post": {
        "tags": [
          "filesystem"
        ],
        "summary": "POST /fs/_/move - Move/rename file",
        "operationId": "move_file",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MoveFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Moved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionFile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID or path"
          },
          "404": {
            "description": "Source not found"
          },
          "409": {
            "description": "Destination exists"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/fs/_/stat": {
      "post": {
        "tags": [
          "filesystem"
        ],
        "summary": "POST /fs/_/stat - Get file or directory stat",
        "operationId": "stat_file",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Stat info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileStat"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/fs/{path}": {
      "get": {
        "tags": [
          "filesystem"
        ],
        "summary": "GET /fs/*path - Get file content or directory listing",
        "operationId": "get_path",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "File or directory path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "description": "List recursively",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File content or directory listing"
          },
          "400": {
            "description": "Invalid session ID"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "put": {
        "tags": [
          "filesystem"
        ],
        "summary": "PUT /fs/*path - Update file content",
        "operationId": "update_path",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "File path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionFile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID or cannot modify readonly file or directory"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "filesystem"
        ],
        "summary": "POST /fs/*path - Create file or directory",
        "operationId": "create_path",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "File or directory path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFileRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionFile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID or request"
          },
          "409": {
            "description": "Already exists"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "filesystem"
        ],
        "summary": "DELETE /fs/*path - Delete file or directory",
        "operationId": "delete_path",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "in": "path",
            "description": "File or directory path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "description": "Delete recursively",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid session ID or directory not empty"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/messages": {
      "get": {
        "tags": [
          "messages"
        ],
        "summary": "GET /v1/sessions/{session_id}/messages - List messages (PRIMARY data)",
        "operationId": "list_messages",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_Message"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID format"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "post": {
        "tags": [
          "messages"
        ],
        "summary": "POST /v1/sessions/{session_id}/messages - Create message (user message triggers workflow)",
        "operationId": "create_message",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Message created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID format"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sessions/{session_id}/sse": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "GET /v1/sessions/{session_id}/sse - Stream events (SSE notifications)",
        "description": "Establishes a Server-Sent Events (SSE) connection for real-time event streaming.\n\n## Connection Lifecycle Events\n\n- **connected**: Sent immediately when the stream is established.\n  Data: `{\"status\":\"connected\"}`\n\n- **disconnecting**: Sent before the server closes the connection for graceful cycling.\n  Data: `{\"reason\":\"connection_cycle\",\"retry_ms\":100}`\n  Clients should reconnect immediately using the `since_id` of the last received event.\n\n## Connection Cycling\n\nConnections are automatically cycled every 5 minutes to prevent stale connections\nthrough proxies and load balancers. Before closing, the server sends a `disconnecting`\nevent so clients can reconnect seamlessly without missing events.\n\n## Retry Hints\n\nEach SSE event includes a `retry:` field (in milliseconds) that hints how long\nclients should wait before reconnecting if the connection is lost:\n- During active streaming: 100ms (fast reconnect)\n- During idle periods: increases with backoff up to 500ms\n- After `disconnecting` event: 100ms (immediate reconnect)\n\n## Resuming Streams\n\nUse the `since_id` query parameter to resume from a specific event. The server\nwill only send events with IDs greater than the specified value. Event IDs are\nUUID v7 (monotonically increasing), ensuring reliable ordering.",
        "operationId": "stream_sse",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "Session ID (prefixed, e.g., sess_...)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "description": "Filter events with ID greater than this event ID (prefixed format: event_{32-hex})",
            "required": false,
            "schema": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "$ref": "#/components/schemas/TypedId"
                }
              ]
            }
          },
          {
            "name": "exclude",
            "in": "query",
            "description": "Event types to exclude from the response (can be specified multiple times).\nCommon delta events to exclude: output.message.delta, reason.thinking.delta",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Event stream. Includes 'connected' on open, domain events during streaming, and 'disconnecting' before graceful close.",
            "content": {
              "text/event-stream": {}
            }
          },
          "400": {
            "description": "Invalid session ID"
          },
          "404": {
            "description": "Session not found"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "GET /v1/users - List all users",
        "description": "Lists all users in the system with optional search filtering.\nRequires authentication (admin access recommended).",
        "operationId": "list_users",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search by name or email",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse_User"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ActCompletedData": {
        "type": "object",
        "description": "Data for act.completed event",
        "required": [
          "completed",
          "success_count",
          "error_count"
        ],
        "properties": {
          "completed": {
            "type": "boolean",
            "description": "Whether all tool calls completed"
          },
          "duration_ms": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64",
            "description": "Duration of the act phase in milliseconds",
            "minimum": 0
          },
          "error_count": {
            "type": "integer",
            "format": "int32",
            "description": "Number of failed tool calls",
            "minimum": 0
          },
          "success_count": {
            "type": "integer",
            "format": "int32",
            "description": "Number of successful tool calls",
            "minimum": 0
          }
        }
      },
      "ActStartedData": {
        "type": "object",
        "description": "Data for act.started event",
        "required": [
          "tool_calls"
        ],
        "properties": {
          "tool_calls": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ToolCallSummary"
            },
            "description": "Tool calls to be executed"
          }
        }
      },
      "Agent": {
        "type": "object",
        "description": "Agent configuration for agentic loop.\nAn agent defines the behavior and capabilities of an AI assistant.",
        "required": [
          "id",
          "name",
          "system_prompt",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentCapabilityConfig"
            },
            "description": "Capabilities enabled for this agent with per-agent configuration.\nCapabilities add tools and system prompt modifications."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was created."
          },
          "default_model_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default LLM model ID for this agent.\nCan be overridden at the session level.",
            "example": "model_01933b5a00007000800000000000001"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable description of what the agent does."
          },
          "id": {
            "type": "string",
            "description": "External identifier (agent_<32-hex>). Shown as \"id\" in API.\nClient-supplied or auto-generated.",
            "example": "agent_01933b5a000070008000000000000001"
          },
          "name": {
            "type": "string",
            "description": "Display name of the agent."
          },
          "status": {
            "$ref": "#/components/schemas/AgentStatus",
            "description": "Current lifecycle status of the agent."
          },
          "system_prompt": {
            "type": "string",
            "description": "System prompt that defines the agent's behavior.\nSent as the first message in every conversation."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for organizing and filtering agents."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the agent was last updated."
          },
          "usage": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/TokenUsage",
                "description": "Cumulative token usage across all sessions for this agent."
              }
            ]
          }
        }
      },
      "AgentCapabilityConfig": {
        "type": "object",
        "description": "Per-agent capability configuration\n\nAssociates a capability with an agent, including optional per-agent configuration.\nThe config field allows the same capability to behave differently per-agent.",
        "required": [
          "ref"
        ],
        "properties": {
          "config": {
            "description": "Per-agent configuration for this capability (capability-specific)"
          },
          "ref": {
            "type": "string",
            "description": "Reference to the capability ID"
          }
        }
      },
      "AgentStatus": {
        "type": "string",
        "description": "Agent lifecycle status.\n- `active`: Agent is available for use\n- `archived`: Agent is soft-deleted and hidden from listings",
        "enum": [
          "active",
          "archived"
        ]
      },
      "CancelStatus": {
        "type": "string",
        "description": "Status of the cancel operation",
        "enum": [
          "cancelled",
          "no_op"
        ]
      },
      "CancelTurnResponse": {
        "type": "object",
        "description": "Response from cancel turn endpoint",
        "required": [
          "status",
          "message"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable message",
            "example": "Turn cancelled successfully"
          },
          "status": {
            "$ref": "#/components/schemas/CancelStatus",
            "description": "Whether the cancellation was performed or was a no-op"
          }
        }
      },
      "CapabilityInfo": {
        "type": "object",
        "description": "Public capability information (without internal details)\nThis is what gets returned from the API\nNamed CapabilityInfo to distinguish from the Capability trait",
        "required": [
          "id",
          "name",
          "description",
          "status"
        ],
        "properties": {
          "category": {
            "type": [
              "string",
              "null"
            ],
            "description": "Category for grouping in UI"
          },
          "dependencies": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "IDs of capabilities that this capability depends on.\nWhen this capability is selected, its dependencies are automatically included."
          },
          "description": {
            "type": "string",
            "description": "Description of what this capability provides"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ],
            "description": "Icon name (for UI rendering)"
          },
          "id": {
            "type": "string",
            "description": "Unique capability identifier"
          },
          "is_mcp": {
            "type": "boolean",
            "description": "Whether this is an MCP server capability (for UI badge)"
          },
          "name": {
            "type": "string",
            "description": "Display name"
          },
          "status": {
            "type": "string",
            "description": "Current status"
          },
          "system_prompt": {
            "type": [
              "string",
              "null"
            ],
            "description": "System prompt addition contributed by this capability"
          },
          "tool_definitions": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Tool definitions provided by this capability"
          }
        }
      },
      "ContentPart": {
        "oneOf": [
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/TextContentPart",
                "description": "Text content"
              },
              {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text"
                    ]
                  }
                }
              }
            ],
            "description": "Text content"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ImageContentPart",
                "description": "Image content (base64 or URL)"
              },
              {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "image"
                    ]
                  }
                }
              }
            ],
            "description": "Image content (base64 or URL)"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ImageFileContentPart",
                "description": "Image file content (reference to uploaded image by ID)"
              },
              {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "image_file"
                    ]
                  }
                }
              }
            ],
            "description": "Image file content (reference to uploaded image by ID)"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolCallContentPart",
                "description": "Tool call content (assistant requesting tool execution)"
              },
              {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "tool_call"
                    ]
                  }
                }
              }
            ],
            "description": "Tool call content (assistant requesting tool execution)"
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/ToolResultContentPart",
                "description": "Tool result content (result of tool execution)"
              },
              {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "tool_result"
                    ]
                  }
                }
              }
            ],
            "description": "Tool result content (result of tool execution)"
          }
        ],
        "description": "A part of message content - can be text, image, image_file, tool_call, or tool_result\n\nThis is the canonical content part type used across the system.\nAPI layer enables the \"openapi\" feature to add ToSchema derive."
      },
      "Controls": {
        "type": "object",
        "description": "Runtime controls for message processing",
        "properties": {
          "model_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Model ID to use for this message (format: model_{32-hex}).\nOverrides session and agent model settings.",
            "example": "model_01933b5a00007000800000000000001"
          },
          "reasoning": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/ReasoningConfig",
                "description": "Reasoning configuration"
              }
            ]
          }
        }
      },
      "CopyFileRequest": {
        "type": "object",
        "description": "Request to copy a file",
        "required": [
          "src_path",
          "dst_path"
        ],
        "properties": {
          "dst_path": {
            "type": "string",
            "description": "Destination path"
          },
          "src_path": {
            "type": "string",
            "description": "Source path"
          }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "description": "Request to create a new agent",
        "required": [
          "name",
          "system_prompt"
        ],
        "properties": {
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentCapabilityConfig"
            },
            "description": "Capabilities to enable for this agent with per-agent configuration.\nEach capability has a `ref` (capability ID) and optional `config`.",
            "example": [
              {
                "config": {},
                "ref": "current_time"
              },
              {
                "config": {},
                "ref": "web_fetch"
              }
            ]
          },
          "default_model_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ID of the default LLM model to use for this agent.\nIf not specified, the system default model will be used.",
            "example": "model_01933b5a00007000800000000000001"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "A human-readable description of what the agent does.",
            "example": "Handles customer inquiries and support tickets"
          },
          "id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Client-supplied agent ID (format: agent_{32-hex}).\nIf not provided, one is auto-generated.",
            "example": "agent_01933b5a00007000800000000000001"
          },
          "name": {
            "type": "string",
            "description": "The name of the agent. Used for display purposes.",
            "example": "Customer Support Agent"
          },
          "system_prompt": {
            "type": "string",
            "description": "The system prompt that defines the agent's behavior and capabilities.\nThis is sent as the first message in every conversation.",
            "example": "You are a helpful customer support agent. Be polite and professional."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for organizing and filtering agents.",
            "example": [
              "support",
              "customer-facing"
            ]
          }
        }
      },
      "CreateFileRequest": {
        "type": "object",
        "description": "Request to create a file",
        "properties": {
          "content": {
            "type": [
              "string",
              "null"
            ],
            "description": "File content (text or base64-encoded)"
          },
          "encoding": {
            "type": [
              "string",
              "null"
            ],
            "description": "Content encoding: \"text\" or \"base64\""
          },
          "is_directory": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether to create a directory instead of a file"
          },
          "is_readonly": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Whether file is read-only"
          }
        }
      },
      "CreateLlmModelRequest": {
        "type": "object",
        "description": "Request to create a new LLM model for a provider",
        "required": [
          "model_id",
          "display_name"
        ],
        "properties": {
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of capabilities this model supports (e.g., \"chat\", \"vision\", \"tools\").",
            "example": [
              "chat",
              "vision",
              "tools"
            ]
          },
          "display_name": {
            "type": "string",
            "description": "Human-readable display name for the model.",
            "example": "GPT-4o"
          },
          "is_default": {
            "type": "boolean",
            "description": "Whether this model should be the default for the provider.\nOnly one model per provider can be the default.",
            "example": false
          },
          "is_favorite": {
            "type": "boolean",
            "description": "Whether this model should be marked as a favorite for quick access.",
            "example": false
          },
          "model_id": {
            "type": "string",
            "description": "The model identifier used by the provider's API (e.g., \"gpt-4\", \"claude-3-opus\").",
            "example": "gpt-4o"
          }
        }
      },
      "CreateLlmProviderRequest": {
        "type": "object",
        "description": "Request to create a new LLM provider",
        "required": [
          "name",
          "provider_type"
        ],
        "properties": {
          "api_key": {
            "type": [
              "string",
              "null"
            ],
            "description": "API key for authenticating with the provider.\nWill be encrypted at rest if encryption is configured."
          },
          "base_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base URL for the provider's API. Required for custom endpoints.\nFor standard providers, this can be omitted to use the default URL.",
            "example": "https://api.openai.com/v1"
          },
          "name": {
            "type": "string",
            "description": "Display name for the provider.",
            "example": "OpenAI Production"
          },
          "provider_type": {
            "$ref": "#/components/schemas/LlmProviderType",
            "description": "The type of LLM provider (e.g., openai, anthropic)."
          }
        }
      },
      "CreateMcpServerRequest": {
        "type": "object",
        "description": "Request to create a new MCP server",
        "required": [
          "name",
          "url"
        ],
        "properties": {
          "api_key": {
            "type": [
              "string",
              "null"
            ],
            "description": "API key for authentication (optional)."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "A human-readable description of what the MCP server provides.",
            "example": "Atlassian MCP Server for Jira and Confluence"
          },
          "headers": {
            "type": [
              "object",
              "null"
            ],
            "description": "Additional HTTP headers for authentication.",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "name": {
            "type": "string",
            "description": "The name of the MCP server. Must be unique.",
            "example": "atlassian-mcp-server"
          },
          "transport_type": {
            "$ref": "#/components/schemas/McpServerTransportType",
            "description": "Transport type. Currently only \"http\" is supported."
          },
          "url": {
            "type": "string",
            "description": "The URL of the MCP server endpoint.",
            "example": "https://mcp.atlassian.com/v1/mcp"
          }
        }
      },
      "CreateMessageRequest": {
        "type": "object",
        "description": "Request to create a message",
        "required": [
          "message"
        ],
        "properties": {
          "controls": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "$ref": "#/components/schemas/Controls",
                "description": "Runtime controls (model, reasoning, etc.)"
              }
            ]
          },
          "message": {
            "$ref": "#/components/schemas/InputMessage",
            "description": "The message to create"
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "description": "Request-level metadata",
            "additionalProperties": {},
            "propertyNames": {
              "type": "string"
            }
          },
          "tags": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "Tags for the message"
          }
        }
      },
      "CreateScheduleRequest": {
        "type": "object",
        "description": "Create schedule request",
        "required": [
          "name",
          "cron_expression",
          "target"
        ],
        "properties": {
          "catch_up_missed": {
            "type": "boolean",
            "description": "Whether to catch up missed triggers (default: false)"
          },
          "cron_expression": {
            "type": "string",
            "description": "Cron expression (5-field or 7-field)"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional description"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether schedule is enabled (default: true)"
          },
          "max_catch_up": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Max catch-up executions",
            "minimum": 0
          },
          "max_concurrent": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Max concurrent executions",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "description": "Unique name for the schedule"
          },
          "retry_policy": {
            "description": "Retry policy for failed executions"
          },
          "target": {
            "$ref": "#/components/schemas/ScheduleTarget",
            "description": "Target to trigger"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone (default: UTC)"
          }
        }
      },
      "CreateSessionRequest": {
        "type": "object",
        "description": "Request to create a session",
        "required": [
          "agent_id"
        ],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "ID of the agent to work in this session (format: agent_{32-hex}).",
            "example": "agent_01933b5a00007000800000000000001"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentCapabilityConfig"
            },
            "description": "Session-level capabilities (additive to agent capabilities).\nApplied after agent capabilities when building RuntimeAgent."
          },
          "model_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ID of the LLM model to use for this session.\nOverrides the agent's default model if specified.",
            "example": "model_01933b5a00007000800000000000001"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags for organizing and filtering sessions.",
            "example": [
              "debugging",
              "urgent"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "Human-readable title for the session.",
            "example": "Debug login issue"
          }
        }
      },
      "DeleteQuery": {
        "type": "object",
        "description": "Query parameters for DELETE requests",
        "properties": {
          "recursive": {
            "type": "boolean",
            "description": "Whether to delete recursively"
          }
        }
      },
      "DeleteResponse": {
        "type": "object",
        "description": "Response for delete operation",
        "required": [
          "deleted"
        ],
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response for API endpoints.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong."
          }
        }
      },
      "Event": {
        "type": "object",
        "description": "Standard event following the Everruns event protocol.\n\nAll events have a consistent structure:\n- `id`: Unique event identifier (format: event_{32-hex})\n- `type`: Event type in dot notation (e.g., \"input.message\", \"reason.started\")\n- `ts`: ISO 8601 timestamp with millisecond precision\n- `session_id`: Session this event belongs to (format: session_{32-hex})\n- `context`: Correlation context for tracing\n- `data`: Event-specific payload (typed via EventData enum)\n- `metadata`: Optional arbitrary metadata\n- `tags`: Optional list of tags for filtering",
        "required": [
          "id",
          "type",
          "ts",
          "session_id",
          "context",
          "data"
        ],
        "properties": {
          "context": {
            "$ref": "#/components/schemas/EventContext",
            "description": "Correlation context"
          },
          "data": {
            "$ref": "#/components/schemas/EventData",
[...]
